body {
  font-family: Roboto, sans-serif;
  font-size: smaller;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0;
  font-family: Roboto, sans-serif !important;
}

.logo {
  background-color: #50b06d;
  padding: 5px;
  color: white;
  font-size: 1.3em;
}

.bee img {
  margin-left: 30px;
  width: 50px;
  height: 50px;
}

.bee, .brand {
  display: inline;
}

.form-container {
  background-color: white;
  padding: 20px;
  border: 1px solid darkgray;
}

.form-group {
  margin-bottom: 20px;
}

.hint {
  color: #3d3d3d;
  font-weight: bold;
}

.alert {
  display: none;
  border: 1px solid rgba(0, 124, 0, 0.49);
}

form {
  padding: 0 20px 20px 10px;
}

form button {
  background-color: #50b06d !important;
}

label {
  font-weight: bold;
  color: #616161;
  font-size: 0.9em;
}

label code {
  /*color: #0074d9;*/
  font-size: 0.9em;
}

.err-msg {
  display: none;
  color: red;
}
